* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100vh;
    overflow: hidden;
}

body {
    font-family: 'Outfit', sans-serif;
}

.pop-up_top {
    position: absolute;
    top: 2%;
    left: 50%;
    width: 90%;
    height: 10rem;
    transform: translateX(-50%);
    background-color: #1CBCB8;
    border-radius: 1.5rem;
}

.info_pop-up {
    position: relative;
    font-size: 2.5rem;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    color: white;
}

.menu_bottom {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 8rem;
    display: flex;
    background-color: rgb(28, 188, 184);
    opacity: 0.9;
    border-radius:  1.5rem 1.5rem 0rem 0rem;
}

.menu_bottom_bar {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1rem;
    width: 50%;
    background-color: #1F617E;
    border-radius: 1rem;
    border: none;
}

.text_menu_bottom {
    position: relative;
    font-size: 2.5rem;
    color: white;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#overlay {
    position: absolute
    ;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(28,188,184,0.9);
    cursor: pointer;
}

.exit_button {
    position: relative;
    top: 3%;
    left: 83%;
    width: 5rem;
    height: 5rem;
    border: none;
    text-decoration: none;
    border-radius: 50%;
    background-color: #1F617E;
}

.text_exit_button {
    color: white;
    font-size: 3rem;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
}

.title_overlay {
    position: absolute;
    font-size: 4rem;
    color: white;
    left: 50%;
    top: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(-50%);
}

.text_overlay {
    color: white;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
}

.foto1 {
    display: flex;
    position: absolute;
    width: 80%;
    height: 30rem;
    left: 50%;
<<<<<<< HEAD
    top: 45%;
    transform: translateX(-50%);
=======
    top: 40%;
    transform: translateX(-50%); 
>>>>>>> patterns
}